# IDEs
.idea/

venv/

# Python compiled byte code
*.pyc
__pycache__/

# Node modules
node_modules/
yarn.lock
npm-debug.log

# SQLite3 database
*.sqlite
*.sqlite3

# ignore fixtures
fixtures/

.DS_Store
dist/
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log

# environment
.env