table,
thead,
tr,
tbody,
th,
td {
        text-align: center;
}
.search-drop-box{
    float:left;
    width:20%;
    margin-right:5%;
}

.dateStart{
    max-width: 220px;
}

.labelTo{
    width: 10px;
}

.dateEnd{
    max-width: 220px
}

.ageHeader{
    width:50px;
}

.employeeHeader{
    width: 60px;
}

.jobtitleHeader
{
    width: 60%;    
}

.earningChart{
    height: 200px;
}